.layout-body {
    max-width: 60em;
    margin: 0 auto;
}

.input-control {
    max-width: 100%;
    display: block;
    padding: 0.3em;
}

.btn {
    padding: 6px 23px;
    text-transform: uppercase;
    margin-top: 0.5em;
    border-radius: 0.8em;
    border: none;
    color: white;
    background: #297d7d;
    font-size: 0.9em;
}

    .btn:hover {
        background: #176565;
    }

.btn-primary {
    background: #dbbc9d;
}

    .btn-primary:hover {
        background: #c8a37d;
    }

.input-default {
    width: 30em;
    margin-bottom: 0.5em;
}

form {
    margin: 1em 0;
}

.group-control {
    margin-bottom: 1em;
}

.products-wrapper {
    padding: 0.7em;
}

.single-product {
    width: 100%;
}

.header {
    border-bottom: 1px solid darkgray;
}
