.home-page-welcome-container {
    max-width: 42em;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 4em;
}

.home-page-welcome-description {
    padding-bottom: 2em;
}

.shop-now-btn {
    background: #297d7d;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 9px 30px;
}

.home-page-logo {
    font-size: 3em;
}

@media all and (max-width: 600px) {
    .home-page-wrapper {
        background: url('/images/header-mobile.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-page-welcome-header {
        font-size: 3.2em;
    }

    .home-page-welcome-description {
        font-size: 1.4em;
    }

    .home-page-welcome-container {
        top: 10em;
        padding: 0 1em;
    }

    .shop-now-btn {
        display: block;
    }
}

@media all and (max-width: 520px) {
    .home-page-welcome-container {
        top: 6em;
        padding: 0 0.5em;
    }
}
