.single-product-container {
    display: flex;
    border-top: 1px solid darkgray;
}

    .single-product-container>article {
        width: 50%;
    }

.single-product-image-container img {
    width: 100%;
}

.single-product-description {
    padding: 1em;
}

.single-product-add-to-cart {
    width: 100%;
    position: relative;
    bottom: 12px;
    border-radius: unset !important;
}

.product-count {
    text-align: center;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.increase-product-count {
    text-align: center;
    width: 25%;
    margin: 0;
    margin-bottom: 0.4em;
    margin-left: 0.7em;
}

.product-in-search-price .single-price {
    position: relative;
    top: 0.5em;
    left: 68px;
    font-size: 2em;
    margin-right: 0.7em;
}

.single-product-type {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
    margin: 1em 0;
    position: relative;
}

.badge {
    padding: 0.3em 0.9em;
    display: inline-block;
    background: #297d7d;
    margin-right: 0.5em;
    border-radius: 50px;
    color: white;
    letter-spacing: 1px;
}

.single-price {
    font-size: 2em;
    position: absolute;
    right: 0.5em;
    top: -4px;
    text-transform: none;
}
