/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

/* reset css */
* {
    padding: 0;
    margin: 0;
}

    *, *:before, *::after {
        box-sizing: inherit;
    }

html {
    box-sizing: border-box
}

/* typography css */
html {
    font: 14px/1.5 "Lato", sans-serif;
}

body, form, input, textarea, option, select, button {
    font: inherit;
}

p, ul, ol {
    padding-bottom: 0.5em;
}

ul, ol {
    padding-left: 2.5em;
}

blockquote,
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", serif;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    font-weight: normal;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.0em;
}

blockquote {
    padding: 0 2.5em;
    border-left: 2px solid red;
    margin-bottom: 1.5em;
}

    blockquote p {
        font-style: italic;
    }

        blockquote p:last-child {
            padding-bottom: 0px;
        }

.input-control {
    max-width: 100%;
    display: block;
    padding: 0.3em;
}

.btn {
    padding: 6px 23px;
    text-transform: uppercase;
    margin-top: 0.5em;
    border-radius: 0.8em;
    border: none;
    color: white;
    background: #297d7d;
    font-size: 0.9em;
}

    .btn:hover {
        background: #176565;
    }

.btn-primary {
    background: #dbbc9d;
}

    .btn-primary:hover {
        background: #c8a37d;
    }

.input-default {
    width: 30em;
    margin-bottom: 0.5em;
}

form {
    margin: 1em 0;
}

.group-control {
    margin-bottom: 1em;
}

.products-wrapper {
    padding: 0.7em;
}